<div class="">
  <div class="w-full p-6 h-auto shadow-lg bg-blue-400 rounded-md">
    {{!-- <h1 class="text-3xl block text-center font-semibold"><i class="fa-solid fa- text-6xl mr-4"></i> Side Hustle</h1> --}}
    <h1 class="text-3xl block text-center font-semibold"><i class="fa-sharp fa-solid fa-screwdriver-wrench text-5xl"></i> Side Hustle</h1>
    <hr class="mt-2">
    <div class="w-full mt-8 text-center">
      <p>
        This is some text
        This is some text
        This is some text
        This is some text
      </p>
      <p>
        This is some text
        This is some text
        This is some text
        This is some text
      </p>
      <p>
        This is some text
        This is some text
        This is some text
        This is some text
      </p>
      <p>
        This is some text
        This is some text
        This is some text
        This is some text
      </p>
      <p>
        This is some text
        This is some text
        This is some text
        This is some text
      </p>
      <p>
        This is some text
        This is some text
        This is some text
        This is some text
      </p>
      <p>
        This is some text
        This is some text
        This is some text
        This is some text
      </p>
      <p>
        This is some text
        This is some text
        This is some text
        This is some text
      </p>
      <p>
        This is some text
        This is some text
        This is some text
        This is some text
      </p>
      <p>
        This is some text
        This is some text
        This is some text
        This is some text
      </p>
    </div> 
    {{#if logged_in}}
      
    {{else}}
    <div class="text-3xl block text-center font-semibold mt-20">
      <div class="mt-5 mb-5">
          <a class="border-2 border-indigo-700 bg-indigo-700 text-white py-1 px-5 w-96 rounded-md hover:bg-transparent hover:text-indigo-700 font-semibold" href="/login">Login</a>
          {{!-- <button class="border-2 border-indigo-700 bg-indigo-700 text-white py-1 px-5 w-96 rounded-md hover:bg-transparent hover:text-indigo-700 font-semibold">Login</button> --}}
      </div>
      <div class="mt-5 mb-5">
        <a class="border-2 border-indigo-700 bg-indigo-700 text-white py-1 px-5 w-96 rounded-md hover:bg-transparent hover:text-indigo-700 font-semibold" href="/signup">Signup</a>
            {{!-- <button class="border-2 border-indigo-700 bg-indigo-700 text-white py-1 px-5 w-96 rounded-md hover:bg-transparent hover:text-indigo-700 font-semibold">Signup</button> --}}
      </div>
    </div>
    {{/if}}
  </div>
</div>
  