.bgmyclass {
  /* background-image: url("/images/people_working.png") ; */
  /* background-image: url("/images/sh_logo.png") ; */
  /* background-image: url("/images/sh_logo_v2.png") ; */
  background-position: left;
  background-repeat: no-repeat;
  background-size: 25%;
  position:relative;

  /* background-color: #e8a6a6; */
 }

.elevator {
  font-weight: 600;
  font-size: 18px;
}

#logo {
  font-size: 24px;
  font-weight: 700;
}

header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  
  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #065b83;
    text-decoration: underline;
  }
  
  .dollar-amount {
    color: #056605;
    font-weight: bold;
    margin-left: -5px;
  }

  .hidden{
    display: none;
  }
  